/* GENERAL */
/* Webfont: Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.ttf')format('truetype');
}
/* Webfont: Luciole-Bold */
@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole_webfonts/Luciole-Bold/Luciole-Bold.ttf')format('truetype');
}
/*Webfont: Anton */
@font-face {
  font-family: 'Anton';
  src: url('./fonts/Anton/Anton-Regular.ttf')format('truetype');
}
/* Webfont: Roboto regular */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf')format('truetype');
}
/* Webfont: Roboto bold */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf')format('truetype');
}
/*
Cardo: font-family: "Cardo", serif; font-weight: 400;
Roboto: font-family: "Roboto", sans-serif; font-weight: 400/700;
Anton: font-family: "Anton", sans-serif; font-weight: 400;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: #55989A;
    --gutter: 16px;
}

:active, :link, :visited{
  text-decoration: none;
  color: var(--color-text);
}
li{
  list-style: none;
}

[data-theme="dark"]{
  --background-color: #1B1B1B;
  --color-text: #ffffff;
  --background-select: #D9D9D9;
  --color-slider: #000000;
  /*--banniere: */
}
[data-theme="light"]{
  --background-color: #D9D9D9;
  --color-text: #000000;
  --background-select: #1B1B1B;
  --color-slider: #ffffff;
}
[data-style="access"]{
  --font-fam-t1: "Luciole";
  --font-fam-t2: "Luciole";
  --font-fam-a: "Luciole";
  --font-fam-p: "Luciole";
  --font-size-t1: 48px;
  --font-size-t2: 32px;
  --font-size-t3: 24px;
  --font-size-a: 18px;
  --font-size-p: 16px;
}
[data-style="normal"]{
  --font-fam-t1: "Anton", sans-serif;
  --font-fam-t2: "Roboto", sans-serif;
  --font-fam-a: "Roboto", sans-serif;
  --font-fam-p: "Cardo", serif;
  --font-size-t1: 64px;
  --font-size-t2: 48px;
  --font-size-t3: 32px;
  --font-size-a: 24px;
  --font-size-p: 18px;
}

/* police */
h1, h2{
    font-family: var(--font-fam-t1);
    font-weight: 400;
}
h3, h4{
    font-family: var(--font-fam-t2);
    font-weight: 700;
}
a{
    font-family: var(--font-fam-a);
    font-weight: 400;
}
p{
    font-family: var(--font-fam-p);
    font-weight: 400;
}

/* taille */
h2 span, h1 span{
    font-size: var(--font-size-t1);
}
h1, h2, h3{
    font-size: var(--font-size-t2);
}
h4, .p-about{
    font-size: var(--font-size-a);
}
p, a{
    font-size: var(--font-size-p);
}

/* h3 */
h3{
    border-bottom: solid 5px var(--secondary-color);
}

/* Display */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.mrlauto{
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.d-none{
  display: none;
}
.gap16{
  gap: 16px;
}
.justify-end{
  justify-content: end;
}

/* body */
body{
  position: relative;
  background-color: var(--background-color);
  color: var(--color-text);
}
/* HEADER */
header{
    height: 80px;
    padding: 0 16px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo-header{
    height: 48px;
    width: 56px;
    margin-right: 16px;
    background-image: url(./assets/Logo-AL-developpement-web-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.picto{
  width: 32px;
  height: 32px;
  /*background-image: url(./assets/);*/
}



/* button dark/light mode */
.switch-mode {
  position: relative;
  width: 56px;
  height: 32px;
  --light: #1B1B1B;
  --dark: #d9d9d9;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HERO */

.hero{
  height: 100vh;
  padding-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 80%, rgba(27, 27, 27, 1) 100%), url(./assets/banniere-developpeur-web.jpg);
  background-size: cover;
}





/* génération largeurs de colonnes pour 12 colonnes */

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans*/

/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gutter) / 12);
}
.large-2 {
    width: calc(16.6666666667% - 5 * var(--gutter) / 6);
}
.large-3 {
    width: calc(25% - 3 * var(--gutter) / 4);
}
.large-4 {
    width: calc(33.3333333333% - 2 * var(--gutter) / 3);
}
.large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
}
.large-6 {
    width: calc(50% - 1 * var(--gutter) / 2);
}
.large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
}
.large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
}
.large-9 {
    width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
}
.large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
}
.large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
}
.large-12 {
    width: calc(100% - 0 * var(--gutter) / 1);
}
  
/*Tablets*/
@media all and (min-width: 576px) and (max-width: 1025px) {
    .medium-1 {
      width: calc(8.3333333333% - 11 * var(--gutter) / 12);
    }
    .medium-2 {
      width: calc(16.6666666667% - 5 * var(--gutter) / 6);
    }
    .medium-3 {
      width: calc(25% - 3 * var(--gutter) / 4);
    }
    .medium-4 {
      width: calc(33.3333333333% - 2 * var(--gutter) / 3);
    }
    .medium-5 {
      width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
    }
    .medium-6 {
      width: calc(50% - 1 * var(--gutter) / 2);
    }
    .medium-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
    }
    .medium-8 {
      width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
    }
    .medium-9 {
      width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
    }
    .medium-10 {
      width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
    }
    .medium-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
    }
    .medium-12 {
      width: calc(100% - 0 * var(--gutter) / 1);
    }
}

/*Smartphones*/
@media all and (max-width: 575px) {
    .small-1 {
      width: calc(8.3333333333% - 11 * var(--gutter) / 12);
    }
    .small-2 {
      width: calc(16.6666666667% - 5 * var(--gutter) / 6);
    }
    .small-3 {
      width: calc(25% - 3 * var(--gutter) / 4);
    }
    .small-4 {
      width: calc(33.3333333333% - 2 * var(--gutter) / 3);
    }
    .small-5 {
      width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
    }
    .small-6 {
      width: calc(50% - 1 * var(--gutter) / 2);
    }
    .small-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
    }
    .small-8 {
      width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
    }
    .small-9 {
      width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
    }
    .small-10 {
      width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
    }
    .small-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
    }
    .small-12 {
      width: calc(100% - 0 * var(--gutter) / 1);
    }
  }