/* GENERAL */
/* Webfont: Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('fonts/Luciole_webfonts/Luciole-Bold/Luciole-Bold.ttf')format('truetype');
}
/* Webfont: Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.ttf')format('truetype');
}

/* Webfont: Karla bold */
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla/Karla-Bold.ttf')format('truetype');
}
/* Webfont: Karla bold */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Light.ttf')format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color: #29CACF;
    --gutter: 16px;
}
:active, :link, :visited{
  text-decoration: none;
  color: var(--color-text);
}
li{
  list-style: none;
}

/* Theme */

[data-theme="dark"]{
  --background-color: #1b1b1b;
  --color-text: #ffffff;
  --tertiary-color: #d9d9d9;
  --logo: url("assets/picto/Logo-AL-developpement-web-white.png");
  --picto: url("assets/picto/sprite-white.png");
  --access: url("assets/picto/access-white.png");
  --banniere: linear-gradient(rgba(27, 27, 27, 0.5) 0%, rgba(27, 27, 27, 0.5) 70%, rgba(27, 27, 27, 1) 100%), url("assets/banniere-developpeur-web.jpg");
  --img-about: url("assets/about/img-about-dark.jpg");
  --img-services: url("assets/services/image-service.png");
}
[data-theme="light"]{
  --background-color: #D9D9D9;
  --color-text: #000000;
  --tertiary-color: #1B1B1B;
  --logo: url("assets/picto/Logo-AL-developpement-web-black.png");
  --picto: url("assets/picto/sprite-black.png");
  --access: url("assets/picto/access-black.png");
  --banniere: linear-gradient(rgba(217, 217, 217, 0.5) 0%,rgba(217, 217, 217, 0.5) 70%, rgb(217, 217, 217) 100%), url("assets/banniere-developpeur-web.jpg");
  --img-about: url("assets/about/img-about-light.jpg");
  --img-services: url("assets/services/image-service-dark.png");
}
[data-style="access"]{
  --font-fam-t1: "Luciole";
  --font-fam-t2: "Luciole";
  --font-fam-a: "Luciole";
  --font-fam-p: "Luciole";
  --font-size-t1: 54px;
  --font-size-t2: 36px;
  --font-size-t3: 26px;
  --font-size-a: 20px;
  --font-size-p: 16px;
  --font-light: 400;
}
[data-style="normal"]{
  --font-fam-t1: "Karla", sans-serif;  
  --font-fam-t2: "Karla", sans-serif;  
  --font-fam-a: "Rubik", sans-serif;   
  --font-fam-p: "Rubik", serif;  
  --font-size-t1: 64px;
  --font-size-t2: 48px;
  --font-size-t3: 32px;
  --font-size-a: 24px;
  --font-size-p: 18px;
  --font-light: 300;
}

/* police */
h1, h2{
    font-family: var(--font-fam-t1);
    font-weight: 700;
}
h3, h4{
    font-family: var(--font-fam-t2);
    font-weight: 700;
}
a{
    font-family: var(--font-fam-a);
    font-weight: var(--font-light);
}
p{
    font-family: var(--font-fam-p);
    font-weight: var(--font-light);
    line-height: 20px;
}

/* taille */
.span-maj{
    font-size: var(--font-size-t1);
}
h1, h2, h3{
    font-size: var(--font-size-t2);
}
h4, .para-about {
    font-size: var(--font-size-a);
}
p, a{
    font-size: var(--font-size-p);
}
.para-about{ line-height: 24px;}


/* h3 */
h3{
    border-bottom: solid 5px var(--secondary-color);
    width: fit-content;
    margin-top: 160px;
    margin-bottom: 120px;
}

/* Display */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.mrlauto{
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.txt-end { text-align: end; }
.d-none{
  display: none;
}
.gap16{
  gap: 16px;
}
.gap32{
  gap: 32px;
}
.mt32 {
  margin-top: 32px;
}
.mt40 { margin-top: 40px;}
.mt16{
  margin-top: 16px;
}
.mt8{
  margin-top: 8px;
}
.mb80{ margin-bottom: 80px;}
.mb160{
  margin-bottom: 160px;
}
.justify-end{
  justify-content: end;
}
.nowrap{
  flex-wrap: nowrap;
}

/* animation */
.curs-point{
  cursor: pointer;
}
.logo, a, .p-comp, .projet a, .services h4 { transition-duration: 0.3s; }
.logo:hover { background-image: url("assets/picto/Logo-AL-developpement-web-blue.png"); }
footer a:hover, header a:hover, .swiper a:hover { color: var(--secondary-color); }





/* body */
body{
  position: relative;
  background-color: var(--background-color);
  color: var(--color-text);
}

#loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: var(--background-color);
  z-index: 2;
  transition: opacity 0.5s ease;
}
.loader-hidden{
  opacity: 0;
}

.logo-static, .logo-moving{
  width: 50%;
  height: 50vh;
  margin-top: 25vh;
  margin-left: 25%;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.logo-static {
  opacity: 0.2;
}
.logo-moving{
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 3;
  animation: swingLogo 0.7s ease-in-out infinite alternate;
}

@keyframes swingLogo {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}



/* HEADER */
header{
  height: 80px;
  padding: 0 16px;
  position: fixed;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(12px);
}
.logo-header{
    height: 48px;
    width: 56px;
    margin-right: 16px;
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
}
.picto, .picto-service{
  width: 32px;
  height: 32px;
  background-image: var(--picto);
  transition-duration: 0.3s;
}
.picto:hover, address a:hover > div { background-image: url("assets/picto/sprite-blue.png");}

.p-localisation{
  background-position-x: 0;
}
.p-github{
  background-position-x: -128px;
}
.p-linkedin{
  background-position-x: -32px;
}
.p-mail{
  background-position-x: -64px;
}
.p-phone{
  background-position-x: -96px;
}
.p-access{
  width: 32px;
  height: 32px;
  background-image: var(--access);
}
.p-access-checked{
  background-image: url("assets/picto/access-blue.png");
}
.p-fleche{
  background-position-x: -160px;
}

/* button dark/light mode */
.switch-mode {
  position: relative;
  width: 56px;
  height: 32px;
  --light: #1B1B1B;
  --dark: #d9d9d9;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  /*border: 2px solid var(--dark);*/
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: black;
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px #1B1B1B;
  box-shadow: inset 12px -4px 0px 0px #1B1B1B;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: #d9d9d9;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HERO */

.hero{
  height: 100vh;
  background-image: var(--banniere);
  background-size: cover;
  position: relative;
  background-position: center;
  align-content: space-between;
  padding: 25vh 0 10vh 0;
}

.span-blue {color: var(--secondary-color);}

.bouton{
  background-color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px #29cacf4b;
  font-weight: 700;
  color: black;
}

.container-chevron-anim{
  gap: 8px;
  flex-direction: column;
}

.chevron-anim{
  font-size: 24px;
  font-weight: bold;
  animation: scroll-down 1.5s infinite;
}


.container-btn-hero{ flex-direction: column-reverse; gap: 15vh; align-items: center;}



/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0px);
    opacity: 1;
  }

  35% {
    transform: translateY(10px);
    opacity: 0;
  }

  70% {
    transform: translateY(-10px);
    opacity: 0;
  }
}


.chevron-arrive{
  transform: translateY(0);
  opacity: 1;
}

.chevron-repart{
  transform: translateY(10px);
  opacity: 0;
}

.chevron-init{
  transform: translateY(-10px);
}



/* main */

main{position: relative;}
.back-logo{
  width: 80%;
  height: 80vh;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: fixed;
  top: calc(20vh / 2);
  left: calc(20% / 2);
  z-index: -1;
  opacity: 0.1;
}


/* projets */
.projets { margin-top: 10px;}
.swiper {
  height: 700px;
  z-index: 0;
}


.swiper-pagination-bullet{ background-color: var(--color-text)}
.swiper-pagination-bullet-active{ background-color: var(--secondary-color);}


.swiper-slide{
  width: 320px !important;
  height: 520px;
  perspective: 1000px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.projet-img { 
  width: 100%;
  height: 150px;
}
.projet-img img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-inner {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.swiper a {font-size: var(--font-size-p); padding: 16px;}

/*.swiper-slide:hover .card-inner {
  transform: rotateY(180deg);
}*/

.flip-card{
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 32px 0;
  background: rgba(41, 202, 207, 0.1);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front {
  border-radius: 10px;
  transform: rotateY(0deg);
}

.card-back {
  border-radius: 10px;
  transform: rotateY(180deg);
}

.cta-card{
  font-weight: bolder;
  font-size: 32px;
}

/* A propos */

.img-moi{
  width: 600px;
  height: 600px;
  border-radius: 5px;
  background-image: var(--img-about);
  background-size: cover;
}

.competence-container {
  margin-top: 80px;
}

.p-html { background-position-x: -384px; }
.p-css { background-position-x: -416px; }
.p-js { background-position-x: -352px; }
.p-sass { background-position-x: -192px; }
.p-mysql { background-position-x: -224px; }
.p-sf { background-position-x: -448px; }
.p-php { 
  width: 48px;
  background-position-x: -608px;
 }
.p-leaflet { 
  width: 64px;
  background-position-x: -544px;
 }
.p-vs { background-position-x: -320px; }
.p-filezilla { background-position-x: -480px; }
.p-figma { background-position-x: -256px; }
.p-notion { background-position-x: -288px; }
.p-react { background-position-x: -512px; }

/*.img-moi img{
  width: 100%;
  height: auto;
}*/

/* services */
.img-services {
  width: 350px;
  height: 200px;
  background-image: var(--img-services);
  background-size: cover;
}
.img-services img {
  width: 100%;
  height: auto;
}

/* footer */
footer {
  padding: 60px 0;
  border-top: solid 1px var(--tertiary-color);
}
.footer-gauche {gap: 32px;}
#map {
  width: 240px;
  height: 200px;
  border-radius: 5px;
}

.leaflet-control-attribution, .leaflet-control-zoom {display: none;}

.logo-footer{
  height: 122px;
  width: 140px;
  background-image: var(--logo);
  background-size: contain;
  background-repeat: no-repeat;
}
.aldev{
  flex-direction: column;
}

.mention span {color: var(--secondary-color);}

.lumiere{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary-color);
  filter: blur(45px);
  z-index: 4;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans*/
/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gutter) / 12);
}
.large-2 {
    width: calc(16.6666666667% - 5 * var(--gutter) / 6);
}
.large-3 {
    width: calc(25% - 3 * var(--gutter) / 4);
}
.large-4 {
    width: calc(33.3333333333% - 2 * var(--gutter) / 3);
}
.large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
}
.large-6 {
    width: calc(50% - 1 * var(--gutter) / 2);
}
.large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
}
.large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
}
.large-9 {
    width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
}
.large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
}
.large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
}
.large-12 {
    width: calc(100% - 0 * var(--gutter) / 1);
}
  
/*Tablets*/
@media all and (min-width: 600px) and (max-width: 999px) {
    .medium-1 {
      width: calc(8.3333333333% - 11 * var(--gutter) / 12);
    }
    .medium-2 {
      width: calc(16.6666666667% - 5 * var(--gutter) / 6);
    }
    .medium-3 {
      width: calc(25% - 3 * var(--gutter) / 4);
    }
    .medium-4 {
      width: calc(33.3333333333% - 2 * var(--gutter) / 3);
    }
    .medium-5 {
      width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
    }
    .medium-6 {
      width: calc(50% - 1 * var(--gutter) / 2);
    }
    .medium-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
    }
    .medium-8 {
      width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
    }
    .medium-9 {
      width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
    }
    .medium-10 {
      width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
    }
    .medium-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
    }
    .medium-12 {
      width: calc(100% - 0 * var(--gutter) / 1);
    }
}

/*Smartphones*/
@media all and (max-width: 599px) {
    .small-1 {
      width: calc(8.3333333333% - 11 * var(--gutter) / 12);
    }
    .small-2 {
      width: calc(16.6666666667% - 5 * var(--gutter) / 6);
    }
    .small-3 {
      width: calc(25% - 3 * var(--gutter) / 4);
    }
    .small-4 {
      width: calc(33.3333333333% - 2 * var(--gutter) / 3);
    }
    .small-5 {
      width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
    }
    .small-6 {
      width: calc(50% - 1 * var(--gutter) / 2);
    }
    .small-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
    }
    .small-8 {
      width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
    }
    .small-9 {
      width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
    }
    .small-10 {
      width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
    }
    .small-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
    }
    .small-12 {
      width: calc(100% - 0 * var(--gutter) / 1);
    }
  }


  @media screen and (min-width: 600px) and (max-width: 1200px) {
    footer{width: 60%; justify-content: space-around;}
    .footer-gauche{width: 100%;justify-content: space-between; margin-bottom: 40px;}
    
  }

  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    .container-about, .container-services { justify-content: space-between;}
    .about-desc { width: 50%;}
    .img-moi{ width: 500px;height: 500px;}
    
  }
  @media screen and (max-width: 1400px) {
    .container-about{margin-bottom: 0;}
    .about-desc {width: 80%;}
    .img-comp-serv, .img-moi{margin-top: 60px;}
  }
  @media screen and (min-width: 1000px) and (max-width: 1400px) {
    .container-services {flex-direction: column;}
  }



  @media screen and (max-width: 620px) {
    [data-style="access"]{
      --font-size-t1: 28px;
      --font-size-t2: 24px;
      --font-size-t3: 22px;
      --font-size-a: 16px;
      --font-size-p: 10px;
    }
    [data-style="normal"]{
      --font-size-t1: 32px;
      --font-size-t2: 28px;
      --font-size-t3: 22px;
      --font-size-a: 16px;
      --font-size-p: 12px;
    }

    
    h3{margin-top: 80px; margin-bottom: 40px;}

    .swiper{width: 300px; height: 500px;}
    .swiper-slide{width: 300px !important; height: 420px;}
    .card-back, .card-front {padding: 16px 0;}

    .img-moi{ width: 300px;height: 300px;}
    .services{margin-bottom: 80px;}

    .img-services {
      width: 300px;
      height: 170px;
    }

    footer{flex-direction: column; justify-content: center; gap: 32px;}
    .footer-droit ul { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 16px;}
    .footer-gauche{ flex-direction: column; justify-content: center;}
    
  }

  @media screen and (min-width: 751px) and (max-width: 999px) {
    .swiper{width: 660px;}
    .footer-gauche{ justify-content: space-between; margin-bottom: 40px;};
  }

  @media screen and (max-width: 999px) {
    
    .hero-titre{flex-direction: column;}
    /*.hero{ padding: 120px 0 80px 0;}*/
    .hero-titre{gap: 60px;}
    

    /* header */
    .menu {
      display: block;
      position: fixed;
      top: 80px;
      right: 0;
      width: 100%;
      height: calc(100vh - 80px);
      backdrop-filter: blur(12px);
      transform: translateX(100%);
      transition: transform 0.6s linear;
    }
    .menu>div { flex-direction: column; align-items: center; margin-top: 12vh; }

    .menu-ouvert { transform: translateX(0);}
    .hero, main, footer { transition: filter 0.6s linear; }
    .blur2 { filter: blur(5px); opacity: 0.2; }

    .menu nav ul {
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
    }
    /*.menu li { margin-top: 16px; }*/
    .logo-menu { display: none; }
    .logo-burger { display: block; }
    .burger {
      display: block;
      position: relative;
      cursor: pointer;
      width: 40px;
      height: 32px;
    }
    .burger span {
      position: absolute;
      width: 36px;
      height: 4px;
      background: var(--color-text);
      border-radius: 100px;
      display: inline-block;
      transition: 0.3s ease;
      left: 0;
    }
    .burger-span
    .burger span.top {
      top: 0;
    }    
    .burger span.middle {
      top: 14px;
    }   
    .burger span.bottom {
      bottom: 0;
    }
    .top-check {
      transform: rotate(45deg);
      transform-origin: top left;
      top: 4px;
      left: 5px;
    }
    .bottom-check {
      transform: rotate(-45deg);
      transform-origin: bottom left;
      bottom: -4px;
      left: 5px;
    }
    .middle-check {
      transform: translateX(-20px);
      opacity: 0;
    }
  }