/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cardo&family=Roboto:wght@500;700&display=swap');
/*
Cardo: font-family: "Cardo", serif; font-weight: 400;
Roboto: font-family: "Roboto", sans-serif; font-weight: 400/700;
Anton: font-family: "Anton", sans-serif; font-weight: 400;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bakground-dark: #1B1B1B;
    --background-light: #D9D9D9;
    --secondary-color: #55989A;
    --content-dark: #ffffff;
    --content-light: #000000;
}

/* couleur */
.background-dark{
    background-color: var(--bakground-dark);
}
.background-light{
    background-color: var(--bakground-light);
}
.content-dark{
    color: var(--content-dark);
}
.content-light{
    color: var(--content-light);
}

/* police */
h1, h2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
h3, h4{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
p{
    font-family: "Cardo", serif;
    font-weight: 400;
}

/* taille */
h1, h2, h3{
    font-size: 64px;
}
h1 span{
    font-size: 96px;
}
h4, .p-about{
    font-size: 32px;
}
p, a{
    font-size: 20px;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
}